
.title{
    color:#388E3C;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
}


.signup-wrapper{
    display: flex;
    flex-flow: column wrap;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    padding: 4rem 6rem;
    width: 300px;
    font-family: 'Rubik', sans-serif;
    margin: 0 auto;
    border-radius: 5px;
    align-items: center;
    
}

label{
    margin-bottom: 0.5rem;
}

.inputItem{
    padding: 1rem;
    display: flex;
    flex-flow: column wrap;
    

}

.input-text{
    border-radius: 5px;
    padding:0.5rem 1rem;
    width: 250px;

}

.checkbox-wrapper{
    display: flex;
    flex-flow:row nowrap;
    padding:0.5rem 1rem;
}

.submit-btn-wrapper{ 
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    width: 120px;
    cursor: pointer;
    margin-bottom: 1.5rem;
    background-color: transparent;
    border: 2px solid #388E3C;
}

.submit-btn-wrapper:hover{
    border-radius: 2px;
    background-color: #60C065;
    transition: all 0.5s ease-in-out;
}

.submit-icon{
    width: 24px;
    height: 24px;
}



.or-line{
    position: relative;
}

.or-line::before{
    content: " ";
    width: 120px;
    background-color: #000;
    border-bottom: 2px solid #000;
    position: absolute;
    top: 50%;
    right: 24px;
}

.or-line::after{
    content: " ";
    width: 120px;
    background-color: #000;
    border-bottom: 2px solid #000;
    position: absolute;
    top: 50%;
    left: 24px;
}

